# Reference:
# https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/use-conda-with-travis-ci.html

dist: bionic
branches:
  only:
    - master
language: python
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "3.7"
install:
  - sudo apt update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda.
  - conda info -a

  # Installation.
  - conda env create -f environment.yml
  - conda activate diff_pd
  - bash install.sh
script:
  # Your test script goes here
  - cd python/example
  - python run_all_tests.py